.cardContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #ffeceb;
}

.subreddit {
  margin: 0em;
  margin-bottom: 0.4em;
  font-size: 0.8rem;
}

.title {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.4em;
  overflow-wrap: break-word;
}

.author {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.4em;
  flex: 1;
}

.link {
  margin: 0em;
  text-decoration: none;
  color: #1e1870;
  font-size: 0.8rem;
  font-weight: bold;
}
